<!DOCTYPE html>
<html>
<head>
  <title>Airtreks Redesign</title>
  <meta name="viewport" content="width=device-width" />
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
 	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Ewert|Open+Sans|Nobile|Titillium+Web|Source+Sans+Pro|Homemade+Apple|The+Girl+Next+Door' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="assets/owl.carousel.css">
  <link rel="stylesheet" href="assets/owl.theme.css">	
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script src="assets/owl.carousel.js"></script>
 	<script src="assets/owl.caro.js"></script>

</head>
<body>
<div class="main-wrapper">
<div class="background-wrapper">	

	<!-- //// NAV BAR ///// -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container-fluid">
	   
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><img class="nav-logo" src="assets/at_logo.png"></a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">   	    
	          
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Travel Store <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Lodging &amp; Hotels</a></li>
	            <li><a href="#">Travel Insurance</a></li>
	            <li><a href="#">Tours &amp; Excursions</a></li>
	            <li><a href="#">Gear &amp; Luggage</a></li>
	            <li><a href="#">Guides, Books &amp; Maps</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Travel Services</a></li>
	           </ul>
	        </li>
	        <li><a href="#">Blog</a></li>
	        <li><a href="#">About AirTreks</a></li>
	      </ul>

	    </div> 
	  </div> 
	</nav>


  <div id="flash">
 	  <p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
	  	setTimeout(function(){
	    	$('#flash').remove();
	  	}, 5000);
	 	})
	</script>


	<%= yield %>
</div> <!-- background-wrapper -->



	<!-- ///////// FOOTER ////////// -->

	<div class="footer ease">
		<div class="footer-row-container">
			<div class="row">
			  <div class="col-md-4">
			  	<ul class="list-unstyled list-group text-left">
			  		<li class="footer-item"><a href="#">Contact AirTreks</a></li>
			  		<li class="footer-item"><a href="#">About AirTreks</a></li>
			  		<li class="footer-item"><a href="#">Your Privacy</a></li>
			  		<li class="footer-item"><a href="#">Partner with AirTreks</a></li>
			  		<li class="footer-item"><a href="#">FAQs</a></li>
			  		<li class="footer-item"><a href="#">Customer Service</a></li>
			  		<li class="footer-item"><a href="#">Sitemap</a></li>
			  	</ul>
			  </div>
			  <div class="col-md-4">
					<ul class="list-unstyled list-group text-left">
			  		<li class="text-left footer-item"><a href="#">RTW 101</a></li>
			  		<li class="text-left footer-item"><a href="#">Travel Store</a></li>
			  		<li class="text-left footer-item"><a href="#">Blog</a></li>
			  		<li class="text-left footer-item"><a href="#">Testimonials</a></li>
			  	</ul>
			  </div>
			  <div class="col-md-4">
			  	<ul class="list-unstyled list-group text-left social">
			  		<li class="footer-item"><a href="http://www.facebook.com/airtreksrtw"><i class="fa fa-facebook-square fa-2x"></i></a></li>
			  		<li class="footer-item"><a href="http://www.twitter.com/airtreks"><i class="fa fa-twitter-square fa-2x"></i> </a></li>
			  		<li class="footer-item"><a href="https://plus.google.com/u/0/103614896315177653372/posts"><i class="fa fa-google-plus-square fa-2x"></i> </a></li>
			  		<li class="footer-item"><a href="http://www.pinterest.com/airtreks/"><i class="fa fa-pinterest-square fa-2x"></i> </a></li>
			  	</ul><br>
			  	<div class="row searchbar">
					  <div class="col-lg-10">
					    <div class="input-group">
					      <input type="text" class="form-control" placeholder="Search AirTreks">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
					<br>
					<!-- DEVISE LOGIN -->
		      <div class="devise">
		      	<span>TripPlanner Users: &nbsp;</span>
			      <% if user_signed_in? %>
						  Logged in as <strong><%= current_user.username %></strong>.
						  <%= link_to 'Edit profile', edit_user_registration_path %> |
						  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% else %>
						  <%= link_to "Sign up", new_user_registration_path %> |
						  <%= link_to "Login", new_user_session_path %>
						<% end %>
					</div>
			  	<p style="font-size:17px" class="text-left">&copy; 2014 AirTreks, Inc</p>
			  </div>
			</div>
		</div>
	</div>

</div>

</body>
</html>
